<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>

    <!-- game grid cells -->
    <script type="text/x-template" id="game-template">
      <td>{{ content }}</td>
    </script>

    <!-- matchup grid rows -->
    <script type="text/x-template" id="matchup-template">
      <tr>
        <n-game v-for='(day, index) in days' :game='day' :key='String(matchup.id) + String(index)'></n-game>
      </tr>
    </script>

    <!-- round table -->
    <script type="text/x-template" id="round-template">
      <div>
        <h3>{{ round.name }}</h3>
        <table class='table table-bordered table-sm'>
          <thead>
            <tr>
              <th scope='col' v-for='i in duration'>
                4/0{{ i }}
              </th>
            </tr>
          </thead>
          <tbody>
            <n-matchup v-for='matchup in round.matchups' :matchup='matchup' :duration='duration' :startDate='startDate' :key='matchup.id'></n-matchup>
          </tbody>
        </table>
      </div>
    </script>

    <!-- root element -->
    <div id="app">
      <div class='container'>
        <n-round v-for='round in rounds' :round='round' :key='round.id'></n-round>
      </div>
    </div>
    <script src="data.js"></script>
    <script src="main.js"></script>
  </body>
</html>
