body {
  font-family: Helvetica Neue, Arial, sans-serif;
}

/* today card styles */

.today-scores {
  font-size: 20pt;
}

img.cardimg {
  height: 40px;
}

/* end of today card styles */

h1, h2, h3 {
  font-weight: bold;
}

h3 {
  padding-top: 10px;
  padding-bottom: 10px;
}

table {
  table-layout: fixed;
  border: 2px solid black;
}

.sort-toggle-enter-active, .sort-toggle-leave-active {
  transition: opacity 0.25s;
}
.sort-toggle-enter, .sort-toggle-leave-to /* .sort-toggle-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.sort-matchups-move {
  transition: transform 0.5s;
}

thead {
  border-bottom: 1px solid black;
}

tr:not(.no-hover):hover {
  background-color: rgb(227, 227, 255)
}

td {
  text-align: center;
  cursor: default;
  user-select: none;
  white-space: nowrap;
  height: 24px;
}

td.keystone {
  font-style: italic;
  color: gray;
  font-family: monospace;
  font-size: 10pt;
}

td.team {
  width: 44px;
  text-align: left;
  font-size: 10pt;

}

td.team.winner {
  font-weight: bold;
}

td.team.loser {
  font-style: italic;
}

td.v {
  width: 5px;
  font-size: 10pt;
}

td.score {
  width: 30px;
  font-style: italic;
  font-size: 10pt;
}

td.date {
  width: 52px;
  min-width: 40px;
  font-size: 12pt;
}

td.date.today {
  font-weight: bold;
  background-color: rgb(255, 241, 206);
}

td.weekend {
  background-color: rgba(200, 200, 255, 0.5);
}

img.table-img {
  height: 24px;
}

td.game {
  font-size: 10pt;
}

td.game.upset {
  font-weight: bold;
}

td.game.game1 {
  background-color: #E47D75;
}

td.game.game2 {
  background-color: #EC9A73;
}

td.game.game3 {
  background-color: #F5B771;
}

td.game.game4 {
  background-color: #FED56F;
}

td.game.game5 {
  background-color: #C8CD76;
}

td.game.game6 {
  background-color: #91C480;
}

td.game.game7 {
  background-color: #5BBA8B;
}

p {
  padding-top: 10px;
}

p.attribution {
  font-style: italic;
  color: gray;
  font-size: 10pt;
}

a.attribution {
  color: gray;
  text-decoration: underline;
}

.time-zone-note {
  font-style: italic;
}

a.year {
  font-style: italic;
  font-weight: bold;
  color: black;
}

.tooltip-inner {
  white-space: pre-wrap;
}
