body {
  font-family: Helvetica Neue, Arial, sans-serif;
}

h3 {
  padding-bottom: 20px;
}

table {
  table-layout: fixed;
}

td.team {
  width: 100px;
}

td.date {
  /*width: 55px;*/
}

td.date.today {
  font-weight: bold;
  background-color: #E5E500;
}

td.weekend {
  background-color: #CCCCCC;
}

td {
  text-align: center;
  cursor: default;
  user-select: none;
  /*width: 55px;*/
}

td.upset {
  font-weight: bold;
}

td.game1 {
  background-color: #5675A7;
  border-color: #5675A7;
}

td.game2 {
  background-color: #96BAF4;
  border-color: #96BAF4;
}

td.game3 {
  background-color: #94A75F;
  border-color: #94A75F;
}

td.game4 {
  background-color: #A8C164;
  border-color: #A8C164;
}

td.game5 {
  background-color: #5675A7;
  border-color: #5675A7;
}

td.game6 {
  background-color: #94A75F;
  border-color: #94A75F;
}

td.game7 {
  background-color: #96BAF4;
  border-color: #96BAF4;
}

.badge {
  width: 42px;
  font-size: 10pt;
}
